<% provide(:page_title, 'All Posts') %>
<% provide(:author, 'active') %>

<div class="row">
<div>
    <%= link_to 'New post', new_authors_post_path, class: 'btn, btn-lg, btn-primary' %>
</div>
<br>
<br>
    <table class="table table-striped">
        <tr>
            <th colspan="4">Title</th>
        </tr>
        <%= render @posts %>
    </table>
</div>